@charset "UTF-8";

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(247, 247, 247);
    margin: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.box{
    background-image: linear-gradient(90deg, #FF0000, #FF8000, #FFFF00, #00FF00);
    width: 200px;
    height: 200px;
    border-radius: 8px;
    transition: transform 0.5s ease-in-out;
}

.box:hover{
    transform: scaleY(-0.5);   
}