@charset "UTF-8";

body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    perspective: 300px;
}

.box{
    width: 200px;
    height: 200px;
    background-image: linear-gradient(45deg, red, blue);
    
    transform-origin: left top;
    transition: transform 0.5s ease-in-out;
}

.box:hover{
    transform: rotate(40deg);
}